
<h1><%= @results[:message] %></h1>
<h3>Your answer: <%= params[:attempt] %></h3>
<h3>Your time: <%= @results[:time] %></h3>
<h1>Your score: <%= @results[:score] %></h1>

<%= link_to "Play again", "/game" %>
